APP_PORT=3000

CORS_ORIGINS="http://localhost:3000"
DATABASE_URL="postgresql://user:password@localhost:5432/db_name"

JWT_SECRET=very_secret_key
JWT_EXPIRES_IN="60m"

CATALOG_URL=https://www.gov.pl/attachment/a5c6c329-28a5-4274-a1a8-e2813f0a51bd
MEDIA_ZIP_URL=https://www.gov.pl/pliki/mi/multimedia_do_pytan.zip

DOWNLOAD_IMPORT_FILES=false
IMPORT_MEDIA=false